@{
    ViewData["Title"] = "Home";
}

<h2>Home</h2>
<ul>
    <li><a asp-controller="Email" asp-action="Index">Send an email</a></li>
    <li><a asp-controller="Template" asp-action="Create">Create a new email template</a></li>
    <li><a asp-controller="Template" asp-action="Index">Edit existing email template</a></li>
</ul>