{
  "Logging": {
    "LogLevel": {
      "Default": "Warning"
    }
  },
  "AllowedHosts": "*",
  "Rebus": {
    "InputQueueName": "EmailMaker.WebsiteCore",
    "RabbitMQ": {
      "ConnectionString": "amqp://admin:password01@localhost"
    }
  },
  "NHibernate": {
    "ConfigurationFileName": "hibernate.cfg.xml"
  }
}
