{
  "IoCContainer": "Castle", // values: Castle, Ninject
  "Rebus": {
    "Transport": "MSMQ", // values: RabbitMQ, MSMQ (windows only)
    "InputQueueName": "EmailMaker.Service",
    "RabbitMQ": {
      "ConnectionString": "amqp://admin:password01@localhost"
    }
  },
  "SmtpServer": "localhost"
}
