<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <add 
    name="EmailMakerConnection" 
    connectionString="Data Source=c:/windows/temp/EmailMaker.db" 
    providerName="sqlite"
    />
</connectionStrings>